html{
	font-family: 'Josefin Sans', sans-serif;
}


header,h1,nav,main,article,aside,footer{
padding:o;
margin:0;
border:1px solid black;
}

header{
display:flex;
}

main{
display:flex;	
}

h1{

}

nav{
display:flex;
}

article{
	flex-basis:75%;
}

aside{
	flex-basis:25%;
}

footer{
	
}

@media (max-widht:600px){
main{
flex-direction:column;
}	
article{
	flex-basis:100%;
}	
aside{
	flex-basis:100%;
}
