html{
	font-family: 'Josefin Sans', sans-serif;
}


header,h1,nav,main,article,aside,footer{
padding:o;
margin:0;
border:1px solid black;
}

header{
display:flex;
}

main{
display:flex;	
}

h1{

}

nav{
display:flex;
}

article{
}

aside{
	
}

footer{
	
}